body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fff5f5;
    color: #333;
}

header {
    background: red;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo {
    width: 80px;
}

nav {
    background: #b30000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

.wa-btn {
    display: inline-block;
    background: green;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
}

footer {
    background: red;
    color: white;
    text-align: center;
    padding: 10px;
}
